# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs
lib-cov

# Coverage
coverage
*.lcov
.nyc_output

# Build output
dist
dist-ssr
build/
out/

# Dependency directories
node_modules/
bower_components/
jspm_packages/
web_modules/

# TypeScript
*.tsbuildinfo

# Cache
.cache
.parcel-cache
.vitepress/
.vitepress/dist
.vitepress/cache

# Environment variables
.env
.env.*
!.env.example

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store

# VSCode test
.vscode-test

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn-integrity
.pnp.*
.eslintcache
.stylelintcache

# REPL
.node_repl_history

# NPM/Yarn pack
*.tgz

# Misc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Visual Studio
*.user
*.userosscache
*.sln.docstates
*.rsuser
*.suo
*.cache
*.tmp
*.pdb
*.obj
*.tlog
*.ipch
*.aps
*.ncb
*.opt
*.plg
*.vbw
*.vbp
*.dsw
*.dsp
*.log
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
.vs/
Generated\ Files/
TestResult.xml
*.trx
*.coverage
*.coveragexml
*.build
*.binlog
MSBuild_Logs/
*.dbmdl
*.dbproj.schemaview
*.publishsettings
AppPackages/
*.appx
*.appxbundle
*.appxupload

# .NET & Azure
project.lock.json
project.fragment.lock.json
artifacts/
*.nupkg
*.snupkg
*.nuget.*
*.azurePubxml
*.pubxml
*.publishproj
csx/
.ecf/
.rcf/

# Python (if accidentally added)
__pycache__/
*.pyc
